/*
  https://developer.mozilla.org/en/docs/Web/CSS/box-shadow
  box-shadow: [inset?] [top] [left] [blur] [size] [color];

  Tips:
    - We're setting all the blurs to 0 since we want a solid fill.
    - Add the inset keyword so the box-shadow is on the inside of the element
    - Animating the inset shadow on hover looks like the element is filling in from whatever side you specify ([top] and [left] accept negative values to become [bottom] and [right])
    - Multiple shadows can be stacked
    - If you're animating multiple shadows, be sure to keep the same number of shadows so the animation is smooth. Otherwise, you'll get something choppy.
*/
$main_color : #000000;

* {text-align: center}
body {
    font-family: "Fira Sans", Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 1.42857143;
    color: black;
    background-color: $main_color;  
  }
  #header{width:100%; }
  #left{float:left; }
  #right{float:right;  }
  #center{margin:0 auto;}   

div.content { color:white;  }
div.footer {  color:white;background-color: rgb(15, 15, 15);;       bottom:0; width:100%;  height: 207px;}

table { color:white; margin: 2em auto; border-collapse: collapse; width: 100%; height: 50%; font-size: 20px; }
td, th { border: 2px solid white; text-align: left; padding: 8px;}
tr:nth-child(even) {color:white; background-color: #5C6670;}
 
  
.pulse:hover, 
.pulse:focus {
  animation: pulse 1s;
  box-shadow: 0 0 0 2em rgba(rgb(255, 255, 255),0);
  
}

@keyframes pulse {
  0% { box-shadow: 0 0 0 0 var(--hover); }
}

// Animate the size, inside
.fill:hover,
.fill:focus {
  box-shadow: inset 0 0 0 2em var(--hover);
}

// Animate the size, outside
.pulse:hover, 
.pulse:focus {
  animation: pulse 1s;
  box-shadow: 0 0 0 2em rgba(#ffffff,0);
}

@keyframes pulse {
  0% { box-shadow: 0 0 0 0 var(--hover); }
}

// Stack multiple shadows, one from the left, the other from the right
.close:hover,
.close:focus {
  box-shadow: 
    inset -3.5em 0 0 0 var(--hover),
    inset 3.5em 0 0 0 var(--hover);  
}

// Size can also be negative; see how it's smaller than the element
.raise:hover,
.raise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}

// Animating from the bottom
.up:hover,
.up:focus {
  box-shadow: inset 0 -3.25em 0 0 var(--hover);
}

// And from the left
.slide:hover,
.slide:focus {
  box-shadow: inset 6.5em 0 0 0 var(--hover);
}

// Multiple shadows, one on the outside, another on the inside
.offset {  
  box-shadow: 
    0.3em 0.3em 0 0 var(--color),
    inset 0.3em 0.3em 0 0 var(--color);
  
  &:hover,
  &:focus {
    box-shadow: 
      0 0 0 0 var(--hover),
      inset 6em 3.5em 0 0 var(--hover);
  }
}

//=== Set button colors
// If you wonder why use Sass vars or CSS custom properties...
  // Make a map with the class names and matching colors
$colors: (
  fill: #a972cb,
  pulse: #ff0000, 
  close: #ff7f82, 
  raise: #ffa260, 
  up: #FF9012, 
  slide: #8fc866, 
  offset: #19bc8b
);

// Sass variables compile to a static string; CSS variables are dynamic and inherited
  // Loop through the map and set CSS custom properties using Sass variables
  @function getRandoNumber() {  
    @return  150 ;  
   }
  $random_number: getRandoNumber();
  
  

  @each $button, $color in $colors {
  .#{$button} {
    --color: #{$color};
    --hover: #{adjust-hue($color, 5)};
  }
}

// Now every button will have different colors as set above. We get to use the same structure, only changing the custom properties.
button {  
  color: white;
  transition: 0.25s;

  &:hover,
  &:focus { 
    border-color: var(--hover);
    color: rgb(31, 31, 31);
  }
}

//=== Pen styling, ignore
 

// Basic button styles
button {
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
}

h1 { font-size: 50px; font-weight: 500; color: #FF9012 }

code { 
  color: #e4cb58;
  font: inherit;
}
hr {
  display: block;
  height: 0px;
  border: 15px;
  border-top: 2.5px solid #ccc;
  margin: -1em auto;
  text-shadow: 2px 2px white;
  border-color :#FF9012;
}