* { font-family: Verdana;text-align: center;text-shadow: 0px 0px 2px white;  } 
 
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: black;
    background-color: powderblue;  
  }
div.header { background-color: darkgray; border: 2px solid black; }
div.content { background-color: white; }
div.footer {  background-color: darkgray; border: 2px solid black;   position:absolute; bottom:0; width:100%; }

table { margin: 2em auto; sans-serif; border-collapse: collapse; width: 100%; font-size: 20px; }
td, th { border: 2px solid black; text-align: left; padding: 8px;}
tr:nth-child(even) { background-color: #dddddd;}
 
  
.pulse:hover, 
.pulse:focus {
  animation: pulse 1s;
  box-shadow: 0 0 0 2em rgba(#fff,0);
}

@keyframes pulse {
  0% { box-shadow: 0 0 0 0 var(--hover); }
}

