/*
  https://developer.mozilla.org/en/docs/Web/CSS/box-shadow
  box-shadow: [inset?] [top] [left] [blur] [size] [color];

  Tips:
    - We're setting all the blurs to 0 since we want a solid fill.
    - Add the inset keyword so the box-shadow is on the inside of the element
    - Animating the inset shadow on hover looks like the element is filling in from whatever side you specify ([top] and [left] accept negative values to become [bottom] and [right])
    - Multiple shadows can be stacked
    - If you're animating multiple shadows, be sure to keep the same number of shadows so the animation is smooth. Otherwise, you'll get something choppy.
*/
* {
  text-align: center; }

body {
  font-family: "Fira Sans", Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 1.42857143;
  color: black;
  background-color: #000000; }

#header {
  width: 100%; }

#left {
  float: left; }

#right {
  float: right; }

#center {
  margin: 0 auto; }

div.content {
  color: white; }

div.footer {
  color: white;
  background-color: #0f0f0f;
  bottom: 0;
  width: 100%;
  height: 207px; }

table {
  color: white;
  margin: 2em auto;
  border-collapse: collapse;
  width: 100%;
  height: 50%;
  font-size: 20px; }

td, th {
  border: 2px solid white;
  text-align: left;
  padding: 8px; }

tr:nth-child(even) {
  color: white;
  background-color: #5C6670; }

.pulse:hover,
.pulse:focus {
  animation: pulse 1s;
  box-shadow: 0 0 0 2em rgba(255, 255, 255, 0); }

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--hover); } }
.fill:hover,
.fill:focus {
  box-shadow: inset 0 0 0 2em var(--hover); }

.pulse:hover,
.pulse:focus {
  animation: pulse 1s;
  box-shadow: 0 0 0 2em rgba(255, 255, 255, 0); }

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--hover); } }
.close:hover,
.close:focus {
  box-shadow: inset -3.5em 0 0 0 var(--hover), inset 3.5em 0 0 0 var(--hover); }

.raise:hover,
.raise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em); }

.up:hover,
.up:focus {
  box-shadow: inset 0 -3.25em 0 0 var(--hover); }

.slide:hover,
.slide:focus {
  box-shadow: inset 6.5em 0 0 0 var(--hover); }

.offset {
  box-shadow: 0.3em 0.3em 0 0 var(--color), inset 0.3em 0.3em 0 0 var(--color); }
  .offset:hover, .offset:focus {
    box-shadow: 0 0 0 0 var(--hover), inset 6em 3.5em 0 0 var(--hover); }

.fill {
  --color: #a972cb;
  --hover: #b072cb; }

.pulse {
  --color: #ff0000;
  --hover: #ff1500; }

.close {
  --color: #ff7f82;
  --hover: #ff877f; }

.raise {
  --color: #ffa260;
  --hover: #ffaf60; }

.up {
  --color: #FF9012;
  --hover: #ffa412; }

.slide {
  --color: #8fc866;
  --hover: #87c866; }

.offset {
  --color: #19bc8b;
  --hover: #19bc99; }

button {
  color: white;
  transition: 0.25s; }
  button:hover, button:focus {
    border-color: var(--hover);
    color: #1f1f1f; }

button {
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em; }

h1 {
  font-size: 50px;
  font-weight: 500;
  color: #FF9012; }

code {
  color: #e4cb58;
  font: inherit; }

hr {
  display: block;
  height: 0px;
  border: 15px;
  border-top: 2.5px solid #ccc;
  margin: -1em auto;
  text-shadow: 2px 2px white;
  border-color: #FF9012; }

/*# sourceMappingURL=style.css.map */
